Backup_2025-09-05/linkedin - menssage send.json
{
  "createdAt": "2025-08-22T02:52:20.993Z",
  "updatedAt": "2025-08-22T21:35:14.120Z",
  "id": "IdiXvWMjCrQbTI0J",
  "name": "linkedin - menssage send",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "12a0b328-1d39-44b4-b29d-9ac465cf134b",
        "options": {}
      },
      "id": "becf42be-0bd8-4978-bbfe-14322298e606",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -928,
        544
      ],
      "webhookId": "12a0b328-1d39-44b4-b29d-9ac465cf134b",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "711303bb-aef2-4cff-b4c7-c2a898e454ac",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.sender_id }}",
              "rightValue": "OzJlgZHDXWi0PmxVdqnPOQ"
            },
            {
              "id": "d115500d-8e14-4b8e-b0ed-4e26a895bb37",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.sender_id }}",
              "rightValue": "9va5ul-NUYejvzb7ADJzuw"
            }
          ]
        },
        "options": {}
      },
      "id": "d508d8b0-6441-4cec-b914-ff2f4014bc30",
      "name": "Check if from me",
      "type": "n8n-nodes-base.if",
      "position": [
        -480,
        544
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {},
      "id": "30c15a96-fb6c-42a9-af8a-f72cc06c308b",
      "name": "Response, No action",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -224,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "5336751e-b7c7-41ea-9064-823b7efade76",
      "name": "New Message",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -240,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5483f235-49d0-404d-82dd-fd5688671044",
              "name": "type",
              "type": "string",
              "value": "={{ $json.body.account_info.type }}"
            },
            {
              "id": "d737da4a-cc6f-4dc5-a8b7-0fd60f6a45b5",
              "name": "message",
              "type": "string",
              "value": "={{ $json.body.message }}"
            },
            {
              "id": "924bd124-4ef1-4f41-8a3d-819d97f053e2",
              "name": "message_id",
              "type": "string",
              "value": "={{ $json.body.message_id }}"
            },
            {
              "id": "c05786b0-b2af-4d87-a111-aae969ce50e9",
              "name": "chat_id",
              "type": "string",
              "value": "={{ $json.body.chat_id }}"
            },
            {
              "id": "342fd20c-81be-42c7-aa85-a525fa9760fb",
              "name": "sender",
              "type": "string",
              "value": "={{ $json.body.sender.attendee_name }}"
            },
            {
              "id": "b40f55d7-928e-436f-90b7-b4048cd80423",
              "name": "sender_profile",
              "type": "string",
              "value": "={{ $json.body.sender.attendee_profile_url }}"
            },
            {
              "id": "efb12c87-42f5-4087-82b8-8dbda5aaf465",
              "name": "sender_id",
              "type": "string",
              "value": "={{ $json.body.sender.attendee_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "75004234-0218-42d6-b679-570104fe2340",
      "name": "Global Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        -704,
        544
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e3182811-630a-4959-b91c-71d8c8093e1c",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2f121115-6a12-4e40-a97a-4566ca85e198",
      "name": "Slack Button Press",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -928,
        1344
      ],
      "webhookId": "e3182811-630a-4959-b91c-71d8c8093e1c",
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94e30709-cf7a-4131-bc89-dbe56f8f3b16",
              "name": "body.payload",
              "type": "object",
              "value": "={{ $json.body.payload }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6ae59812-4828-479d-8cba-a5e313648b17",
      "name": "Parse Webhook",
      "type": "n8n-nodes-base.set",
      "position": [
        -448,
        1344
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"challenge\":\"{{ $json.body.challenge }}\"}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "e04f7a4b-ea39-4b65-ab1a-ebfd5551be97",
      "name": "Verify Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -688,
        1344
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cf275c3e-347d-4028-8209-682f52d540e3",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.body.payload.actions[0].value.action }}",
              "rightValue": "approve"
            }
          ]
        },
        "options": {}
      },
      "id": "e3c90c7b-9991-46e4-8942-d8e72d47cf73",
      "name": "Check if approved",
      "type": "n8n-nodes-base.if",
      "position": [
        224,
        1120
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "mode": "id",
          "value": "U07G1JBR76W"
        },
        "messageType": "block",
        "blocksUi": "={\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"block_id\": \"profile_card\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"👤*<{{ $('Webhook').item.json.body.sender.attendee_profile_url }}|{{ $('Webhook').item.json.body.sender.attendee_name }}>*\\n\\n💼 {{ $('Set all potential Inputs').item.json.linkedinprofile[0].headline }}\\n\\n📍 {{ $('Set all potential Inputs').item.json.linkedinprofile[0].location }}\\n👥 {{ $('Set all potential Inputs').item.json.linkedinprofile[0].follower_count }} followers | 🔗 {{ $('Set all potential Inputs').item.json.linkedinprofile[0].connections_count }} connections\"\n      },\n      \"accessory\": {\n        \"type\": \"image\",\n        \"image_url\": \"{{ $('Set all potential Inputs').item.json.linkedinprofile[0].profile_picture_url }}\",\n        \"alt_text\": \"LinkedIn Profile Picture\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"block_id\": \"incoming_message\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*📩 <https://www.linkedin.com/messaging/thread/{{ $('Webhook').item.json.body.provider_chat_id }}/|New LinkedIn Message>:*\\n> {{ $('Global Variables').item.json.message.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\"') }}\"\n      }\n    },\n    {\n      \"type\": \"input\",\n      \"block_id\": \"ai_response\",\n      \"element\": {\n        \"type\": \"plain_text_input\",\n        \"action_id\": \"response_input\",\n        \"multiline\": true,\n        \"initial_value\": \"{{ $('AI Agent').item.json.output.output.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\"') }}\",\n        \"placeholder\": {\n          \"type\": \"plain_text\",\n          \"text\": \"Edit the AI-generated response before approving...\"\n        }\n      },\n      \"label\": {\n        \"type\": \"plain_text\",\n        \"text\": \"🤖 Suggested Reply\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"block_id\": \"actions_block\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"action_id\": \"approve_response\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"✅ Approve\"\n          },\n          \"style\": \"primary\",\n          \"value\": \"{\\\"action\\\":\\\"approve\\\",\\\"message_id\\\":\\\"{{ $('Global Variables').item.json.message_id }}\\\",\\\"channel_id\\\":\\\"{{ $('Global Variables').item.json.chat_id }}\\\"}\"\n        },\n        {\n          \"type\": \"button\",\n          \"action_id\": \"archive_message\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"🗃️ Archive\"\n          },\n          \"style\": \"danger\",\n          \"value\": \"{\\\"action\\\":\\\"archive\\\",\\\"message_id\\\":\\\"{{ $('Global Variables').item.json.message_id }}\\\",\\\"channel_id\\\":\\\"{{ $('Global Variables').item.json.chat_id }}\\\"}\"\n        }\n      ]\n    }\n  ]\n}\n",
        "text": "=New LinkedIn Message from {{ $('Webhook').item.json.body.sender.attendee_name }}",
        "otherOptions": {}
      },
      "id": "f6e82356-6412-469e-86c2-e1e0500813f7",
      "name": "Send User Message",
      "type": "n8n-nodes-base.slack",
      "position": [
        3168,
        448
      ],
      "webhookId": "e3624af3-3604-4d6a-b776-e3860b51b24e",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "mode": "id",
          "value": "U07G1JBR76W"
        },
        "messageType": "block",
        "blocksUi": "={\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"block_id\": \"profile_card_org\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"🏢*<{{ $('Webhook').item.json.body.sender.attendee_profile_url }}|{{ $('Webhook').item.json.body.sender.attendee_name }}>*\\n\\n💼 {{ $('Set all potential Inputs').item.json.linkedinprofile[0].headline }}\\n\\n📍 {{ $('Set all potential Inputs').item.json.linkedinprofile[0].location }}\\n👥 {{ $('Set all potential Inputs').item.json.linkedinprofile[0].follower_count }} followers | 🧑‍💼 {{ $('Set all potential Inputs').item.json.linkedinprofile[0].employee_count }} employees\"\n      },\n      \"accessory\": {\n        \"type\": \"image\",\n        \"image_url\": \"{{ $('Set all potential Inputs').item.json.linkedinprofile[0].profile_picture_url }}\",\n        \"alt_text\": \"Organization Profile Picture\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"block_id\": \"incoming_message\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*📩 New LinkedIn Message:*\\n> {{ $('Global Variables').item.json.message.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\"') }}\"\n      }\n    },\n    {\n      \"type\": \"input\",\n      \"block_id\": \"ai_response\",\n      \"element\": {\n        \"type\": \"plain_text_input\",\n        \"action_id\": \"response_input\",\n        \"multiline\": true,\n        \"initial_value\": \"{{ $('AI Agent').item.json.output.output.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\"') }}\",\n        \"placeholder\": {\n          \"type\": \"plain_text\",\n          \"text\": \"Edit the AI-generated response before approving...\"\n        }\n      },\n      \"label\": {\n        \"type\": \"plain_text\",\n        \"text\": \"🤖 Suggested Reply\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"block_id\": \"actions_block\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"action_id\": \"approve_response\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"✅ Approve\"\n          },\n          \"style\": \"primary\",\n          \"value\": \"{\\\"action\\\":\\\"approve\\\",\\\"message_id\\\":\\\"{{ $('Global Variables').item.json.message_id }}\\\",\\\"channel_id\\\":\\\"{{ $('Global Variables').item.json.chat_id }}\\\"}\"\n        },\n        {\n          \"type\": \"button\",\n          \"action_id\": \"archive_message\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"🗃️ Archive\"\n          },\n          \"style\": \"danger\",\n          \"value\": \"{\\\"action\\\":\\\"archive\\\",\\\"message_id\\\":\\\"{{ $('Global Variables').item.json.message_id }}\\\",\\\"channel_id\\\":\\\"{{ $('Global Variables').item.json.chat_id }}\\\"}\"\n        }\n      ]\n    }\n  ]\n}\n",
        "text": "=New LinkedIn Message from {{ $('Webhook').item.json.body.sender.attendee_name }}",
        "otherOptions": {}
      },
      "id": "8c2bbec3-133d-49f9-8276-2ff870fd5558",
      "name": "Send Org Message",
      "type": "n8n-nodes-base.slack",
      "position": [
        3168,
        608
      ],
      "webhookId": "9a621f5a-854e-4725-81c4-3ce075d87d96",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "mode": "id",
          "value": "U07G1JBR76W"
        },
        "messageType": "block",
        "blocksUi": "={\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"block_id\": \"incoming_message\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*New LinkedIn Message:*\\n> {{ $('Global Variables').item.json.message.replace(/\\n/g, '\\\\n').replace(/\"/g, '\\\\\"') }}\"\n      }\n    },\n    {\n      \"type\": \"input\",\n      \"block_id\": \"ai_response\",\n      \"element\": {\n        \"type\": \"plain_text_input\",\n        \"action_id\": \"response_input\",\n        \"multiline\": true,\n        \"initial_value\": \"{{ $json.output.output.replace(/\\n/g, '\\\\n').replace(/\"/g, '\\\\\"') }}\",\n        \"placeholder\": {\n          \"type\": \"plain_text\",\n          \"text\": \"Edit the AI-generated response before approving...\"\n        }\n      },\n      \"label\": {\n        \"type\": \"plain_text\",\n        \"text\": \"Suggested Reply\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"block_id\": \"actions_block\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"action_id\": \"approve_response\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"✅ Approve\"\n          },\n          \"style\": \"primary\",\n          \"value\": \"{\\\"action\\\":\\\"approve\\\",\\\"message_id\\\":\\\"{{ $('Global Variables').item.json.message_id }}\\\",\\\"channel_id\\\":\\\"{{ $('Global Variables').item.json.chat_id }}\\\"}\"\n        },\n        {\n          \"type\": \"button\",\n          \"action_id\": \"archive_message\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"🗃️ Archive\"\n          },\n          \"style\": \"danger\",\n          \"value\": \"{\\\"action\\\":\\\"archive\\\",\\\"message_id\\\":\\\"{{ $('Global Variables').item.json.message_id }}\\\",\\\"channel_id\\\":\\\"{{ $('Global Variables').item.json.chat_id }}\\\"}\"\n        }\n      ]\n    }\n  ]\n}\n",
        "otherOptions": {}
      },
      "id": "a52afa1a-578f-4251-8291-6f40c0160049",
      "name": "Send Nothing Found Message",
      "type": "n8n-nodes-base.slack",
      "position": [
        3168,
        768
      ],
      "webhookId": "64dddbb2-1bf6-4a5a-884b-057b82596ef1",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "content": "![unipile](https://uploads.n8n.io/templates/unipile.png)\n## LinkedIn Message Processing\nReceives the LinkedIn message via Unipile api webhook.",
        "height": 720,
        "width": 980,
        "color": 7
      },
      "id": "31e12c84-e1a4-43e6-84f0-3a0835bbd58a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1008,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![Slack](https://uploads.n8n.io/templates/slack.png)\n## Slack Bot Button Press\nThis workflow gets the button presses from the Slack interface and passes it along to Unipile for processing.",
        "height": 693,
        "width": 2097,
        "color": 7
      },
      "id": "9f07bd7f-8c16-4a17-a495-85ebd7abd5fc",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1008,
        864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "4670af46-5774-4fec-8b12-a608aefa3d89",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Set all potential Inputs').item.json.linkedinprofile[0].type }}",
                    "rightValue": "user"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "User"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "0a484630-343d-4b9a-9bf0-6ef5bd9b1b4b",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Set all potential Inputs').item.json.linkedinprofile[0].type }}",
                    "rightValue": "organization"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Organization"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "2b852c6f-6945-4e06-af7d-bc5f58c8f571",
      "name": "Decide on Message Type",
      "type": "n8n-nodes-base.switch",
      "position": [
        2848,
        464
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "27c0a3cc-b768-4aba-bab0-19971fb2d38d",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.body.payload.user.id }}",
                    "rightValue": "U07G1JBR76W"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "angel"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b16b07b2-c77b-439f-9acb-e7799dceaa6b",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.body.payload.user.id }}",
                    "rightValue": "U035CE97JGM"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "max"
            }
          ]
        },
        "options": {}
      },
      "id": "f38fef18-240c-477c-90ae-a80d0e28f4ad",
      "name": "User Switcher",
      "type": "n8n-nodes-base.switch",
      "position": [
        -240,
        1344
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a9278cb-3f2a-4f90-852a-3ca16b404c58",
              "name": "message",
              "type": "string",
              "value": "={{ $json.body.payload.state.values.ai_response.response_input.value }}"
            },
            {
              "id": "3c16c98d-a7db-42e9-aacd-9ede379b1f49",
              "name": "body.payload.actions[0].value",
              "type": "object",
              "value": "={{ $json.body.payload.actions[0].value }}"
            }
          ]
        },
        "options": {}
      },
      "id": "54b43992-06e2-4d19-8ffa-ceeeccb7ffdf",
      "name": "Isolate Message and Payload",
      "type": "n8n-nodes-base.set",
      "position": [
        0,
        1120
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f334a7f4-4c85-466c-8278-3da5dd5a2486",
              "name": "body",
              "type": "object",
              "value": "={{ $('Slack Button Press').item.json.body.payload }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8790a9fd-1aaf-4117-bba2-71f528881e43",
      "name": "Isolate Payload",
      "type": "n8n-nodes-base.set",
      "position": [
        0,
        1360
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.cloud/webhook/89659f10-574e-s42c-530d-e7dd9158d177",
        "options": {}
      },
      "id": "0b602a5c-1ac4-462f-bdda-be8960ca3fa3",
      "name": "Send webhook to Coworker Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        224,
        1360
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api9.unipile.com:13976/api/v1/chats/{{ $json.body.payload.actions[0].value.channel_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('Isolate Message and Payload').item.json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "022762e2-b2af-4d4a-95be-82793efb989f",
      "name": "Send Message to LinkedIn via Unipile",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        464,
        1072
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "KAl5lfwlzBD87Tgd",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('User Switcher').item.json.body.payload.channel.id }}"
        },
        "timestamp": "={{ $('User Switcher').item.json.body.payload.container.message_ts }}"
      },
      "id": "e6d3f662-e591-4d8e-b13b-39a87bd91c9b",
      "name": "Delete Approved Message from Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        768,
        1072
      ],
      "webhookId": "08e7c073-569a-4400-aa60-80c7cddf8b03",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "delete",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('User Switcher').item.json.body.payload.channel.id }}"
        },
        "timestamp": "={{ $('User Switcher').item.json.body.payload.container.message_ts }}"
      },
      "id": "1eb8121f-52e5-41cf-930c-95a992dee635",
      "name": "Delete Denied Message from Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        768,
        1264
      ],
      "webhookId": "70630dad-c2a5-4c40-aef3-070994ce4b83",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sender Name: {{ $('Isolate parent workflow data for AI').item.json.sender }}\nSender Message: {{ $('Isolate parent workflow data for AI').item.json.message }}\nMy Name: Your Name\n\nIf found, the linkedin profile will be below, pay close attention to the number of followers and connections: \n{{ $('Set all potential Inputs').item.json.linkedinprofile.toJsonString() }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert professional assistant designed to help generate smart, personalized responses to LinkedIn messages.\n\nYou will be provided with:\n1. The **incoming message** and name from a LinkedIn user.\n2. A **database of past requests and responses**. These are known message types and the preferred replies.\n3. Context about the assistant's voice and tone.\n\n### Your Objective:\n- First, scan the database for any message that closely matches the incoming LinkedIn message. If a match is found, use the **corresponding response** as a base — you may slightly tailor it if needed (e.g., change names or dates).\n- If no close match is found, generate a **new, thoughtful reply** based on the message content, tone guidelines, and best practices in business networking. If you do not have a direct link or URL to provide from the Request Database, do not reference a website or URL. Instead say a variation of let me get back to you on that and see what I can find. \n\n### Tone Guidelines:\n- Friendly, confident, and professional — but never robotic.\n- Lightly personalized. Use the sender’s name if available.\n- Avoid sounding like a sales pitch.\n- Keep replies concise and natural, like something you'd actually send on LinkedIn.\n\n### When generating a new message:\n- Acknowledge the sender’s message.\n- Add a relevant, helpful comment or question to continue the conversation.\n- Keep the tone warm and open-ended.\n\n### Output format:\nOnly output the message text that should be sent to the user. Do not explain your reasoning. If you do not have a direct link to provide, do not reference a website or URL. Instead say let me get back to you on that and see what I can find. \n\nLet’s begin.\nRequest Database:\n\n{{ $json.dbObject.join('\\n\\n----\\n\\n') }}\n\nWhen responding, use the following format:\n{\n\t\"output\": \"message response\",\n\t\"found\": true\n}\nFor output output the message response, for found output a boolean, true if an example is found in the Request Database, false if a response is not found. The output is going to slack so ensure you escape your outputs like new lines. "
        }
      },
      "id": "efd50cc5-bff3-4e42-91d8-262c506af4d4",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2304,
        464
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Isolate parent workflow data for AI').item.json.chatid }}"
      },
      "id": "04d7c082-f6e6-4cdb-abee-7e0101f89a71",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        2432,
        704
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "id": "82a78c4c-de17-47e3-9b23-ac79c6c59864",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2208,
        720
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"output\": \"message response\",\n\t\"found\": true\n}"
      },
      "id": "6344422e-a48a-4ed5-aa07-88a924f74b46",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        2592,
        704
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "![hctiapi](https://uploads.n8n.io/templates/openai.png)\n## Generate Automated response\nThe AI bot receives not only the message from LinkedIn, but also LinkedIn user context, such as the number of followers and connections, allowing for tailored responses. For example if a user asks to meet, but they don't meet a certain number of followers threshold, they are politely declined. However if an influencer reaches out, they are automatically given a booking link to ensure that high priority requests are immediately followed up on. ",
        "height": 718,
        "width": 668,
        "color": 7
      },
      "id": "49c343d0-0cb0-408f-947b-fe4fb674a418",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2112,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91a1191e-bac0-4b8b-b263-a03c63435470",
              "name": "sender",
              "type": "string",
              "value": "={{ $('Global Variables').item.json.sender }}"
            },
            {
              "id": "0f8c17c8-d598-4840-8b89-8dbdcd529231",
              "name": "message",
              "type": "string",
              "value": "={{ $('Global Variables').item.json.message }}"
            },
            {
              "id": "c9132b69-5e0e-4ccf-86bb-0e4cfa734860",
              "name": "chatid",
              "type": "string",
              "value": "={{ $('Global Variables').item.json.chat_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6969033e-775d-4474-8f32-d08a6d8a8d88",
      "name": "Isolate parent workflow data for AI",
      "type": "n8n-nodes-base.set",
      "position": [
        1344,
        560
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "list",
          "value": "1da5b6e0-c94f-8086-80b6-eab8e340d60e",
          "cachedResultUrl": "https://www.notion.so/1da5b6e0c94f808680b6eab8e340d60e",
          "cachedResultName": "RequestRouterDB"
        },
        "options": {}
      },
      "id": "9477a586-7637-4a23-9374-030ec97c4433",
      "name": "Get Request Router Directory Database",
      "type": "n8n-nodes-base.notion",
      "position": [
        1552,
        560
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4ac8c33-a220-4c07-bc0d-dc7ba7cc068e",
              "name": "dbObject",
              "type": "string",
              "value": "=Request Example: {{ $json.name }}\n--\nRequest Description: {{ $json.property_request_description }}\n--\nRequest Action: {{ $json.property_request_action }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f42c4f8c-4094-4a62-981a-e23db2edf80e",
      "name": "Format DB data for AI Context",
      "type": "n8n-nodes-base.set",
      "position": [
        1744,
        560
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "dbObject"
            }
          ]
        },
        "options": {}
      },
      "id": "87bb5039-bfc6-4624-b918-77e8bbd2bab5",
      "name": "Aggregate DB objects into one item",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1952,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![notion](https://uploads.n8n.io/templates/notionlogo.png)\n## Get routing Database data\nAn AI bot that does not get smarter over time is not a useful bot. That is why this bot references a shared internal database where requests routing can be updated without having to touch the n8n workflows. When a request comes in that does not have a standardized process, the AI will generate a response based on its model training. You can use this as a starting point, but when this becomes a pattern, simply updating the notion database instantly upgrades the AI bot. Not only that, but others can update the database, not only giving the AI context, but also creating a centralized location for standardized processes for handling different request types. This can be adapted for any platform, not just linkedIn, such as shared email inboxes, shared social media pages, and even for support requests. ",
        "height": 700,
        "width": 826,
        "color": 7
      },
      "id": "7c05c47a-99b1-4837-b29e-17478d8cc462",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![Linkedin](https://uploads.n8n.io/templates/linkedinlogo.png))\n## Enrich LinkedIn Data with User or Org Data from Unipile\nLinkedIn messages arrive from one of two object types, users or organizations. This workflow extracts the user data and passes it along. If the user is not found, then the Organization endpoint is searched instead. If it's found, it send that, otherwise it sends a not found object. ",
        "height": 840,
        "width": 1246,
        "color": 7
      },
      "id": "5adec037-660f-403b-adcb-aa336431a8fa",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://api9.unipile.com:13976/api/v1/users/{{ $('Webhook').item.json.body.sender.attendee_provider_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "-oWmWRkASjKGUZadYcjcyg"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "ee46639e-131b-4ee0-a23b-96289ccfc96e",
      "name": "Get Linkedin User Data from Unipile",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        64,
        400
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "NvIKcqI5kS4plW3d",
          "name": "Unipale Angel"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aee91408-b68d-472e-8c3e-89260dd38c1c",
              "name": "first_name",
              "type": "string",
              "value": "={{ $json.first_name }}"
            },
            {
              "id": "57b3be6f-ba76-48c3-8f2e-1d9bb03d0dd5",
              "name": "last_name",
              "type": "string",
              "value": "={{ $json.last_name }}"
            },
            {
              "id": "75167f30-96d6-4442-9542-9d1b8e17fcb6",
              "name": "headline",
              "type": "string",
              "value": "={{ $json.headline }}"
            },
            {
              "id": "3e8bccc1-04a9-49f6-8053-eba22fe8d2f4",
              "name": "websites",
              "type": "array",
              "value": "={{ $json.websites }}"
            },
            {
              "id": "2e3dd2fe-5f71-4d19-bee8-085dd9bfc18c",
              "name": "follower_count",
              "type": "number",
              "value": "={{ $json.follower_count }}"
            },
            {
              "id": "ac5cc567-3c4f-481c-b229-9dc1e48d39fb",
              "name": "connections_count",
              "type": "number",
              "value": "={{ $json.connections_count }}"
            },
            {
              "id": "6bad07a6-4641-48cb-b436-fb735319865f",
              "name": "location",
              "type": "string",
              "value": "={{ $json.location }}"
            },
            {
              "id": "029fa351-f49f-4388-a59e-5719fcf8a506",
              "name": "profile_picture_url",
              "type": "string",
              "value": "={{ $json.profile_picture_url }}"
            },
            {
              "id": "2f96dca6-acee-41c0-83b5-00cd406d3301",
              "name": "is_influencer",
              "type": "boolean",
              "value": "={{ $json.is_influencer }}"
            },
            {
              "id": "4278e070-ce56-4993-b637-57ac60e83a49",
              "name": "is_premium",
              "type": "boolean",
              "value": "={{ $json.is_premium }}"
            },
            {
              "id": "b92c38f1-1423-4b7e-a807-320d13e0a944",
              "name": "shared_connections_count",
              "type": "number",
              "value": "={{ $json.shared_connections_count }}"
            },
            {
              "id": "96b24500-e6a4-444a-806c-0b61a1f00407",
              "name": "type",
              "type": "string",
              "value": "user"
            }
          ]
        },
        "options": {}
      },
      "id": "6a0afd17-73cb-4168-83ca-7aca4d83651c",
      "name": "Set User Data from Unipile",
      "type": "n8n-nodes-base.set",
      "position": [
        320,
        272
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "linkedinprofile",
        "options": {}
      },
      "id": "02cec9c3-1400-4835-8f59-d1c4cbb3c63e",
      "name": "Group in one object - User",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        512,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://api9.unipile.com:13976/api/v1/linkedin/company/{{ $('Webhook').item.json.body.sender.attendee_provider_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "-oWmWRkASjKGUZadYcjcyg"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "98d906aa-3d44-471d-a4b7-e14da7d335a8",
      "name": "Get Linkedin Org Data from Unipile",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        320,
        624
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aee91408-b68d-472e-8c3e-89260dd38c1c",
              "name": "first_name",
              "type": "string",
              "value": "={{ $json.name }}"
            },
            {
              "id": "57b3be6f-ba76-48c3-8f2e-1d9bb03d0dd5",
              "name": "last_name",
              "type": "string",
              "value": "="
            },
            {
              "id": "75167f30-96d6-4442-9542-9d1b8e17fcb6",
              "name": "headline",
              "type": "string",
              "value": "={{ $json.description }}"
            },
            {
              "id": "3e8bccc1-04a9-49f6-8053-eba22fe8d2f4",
              "name": "websites",
              "type": "string",
              "value": "={{ $json.website }}"
            },
            {
              "id": "2e3dd2fe-5f71-4d19-bee8-085dd9bfc18c",
              "name": "follower_count",
              "type": "number",
              "value": "={{ $json.followers_count }}"
            },
            {
              "id": "ac5cc567-3c4f-481c-b229-9dc1e48d39fb",
              "name": "employee_count",
              "type": "number",
              "value": "={{ $json.employee_count_range.from }}"
            },
            {
              "id": "6bad07a6-4641-48cb-b436-fb735319865f",
              "name": "location",
              "type": "string",
              "value": "={{ $json.locations[0].street.join(' ') }}, {{ $json.locations[0].city }} {{ $json.locations[0].area }}, {{ $json.locations[0].postalCode }} {{ $json.locations[0].country }}."
            },
            {
              "id": "89035aa7-e7bb-46eb-9f4b-633e2c17478a",
              "name": "hashtags",
              "type": "array",
              "value": "={{ $json.hashtags }}"
            },
            {
              "id": "25b0abe6-aef7-4d6f-88ea-5fcbd3472089",
              "name": "profile_picture_url",
              "type": "string",
              "value": "={{ $json.logo }}"
            },
            {
              "id": "decf44b7-520e-4977-9df5-276c5117d8e4",
              "name": "type",
              "type": "string",
              "value": "organization"
            }
          ]
        },
        "options": {}
      },
      "id": "203d8b45-82cc-4fe4-8988-11dc826f27f3",
      "name": "Set Linkedin Org Data from Unipile",
      "type": "n8n-nodes-base.set",
      "position": [
        608,
        464
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "linkedinprofile",
        "options": {}
      },
      "id": "c025fa1f-e87f-4153-98cc-4185eaf7d6e6",
      "name": "Group in one object - Org",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        800,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "438518ca-d55a-45d5-9210-0c53de7ae108",
              "name": "linkedinprofile",
              "type": "string",
              "value": "Unable to find LinkedIn Data"
            },
            {
              "id": "2d0595aa-bdd4-46e3-9f4d-e13e69c5a7a9",
              "name": "type",
              "type": "string",
              "value": "none"
            }
          ]
        },
        "options": {}
      },
      "id": "fd8048d7-3ede-4b1b-8264-5751a2a78394",
      "name": "Set unable to find data object",
      "type": "n8n-nodes-base.set",
      "position": [
        720,
        672
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "![Slack](https://uploads.n8n.io/templates/slack.png)\n## Slack Bot Button Press\nThis workflow gets the button presses from the Slack interface and passes it along to Unipile for processing.",
        "height": 813,
        "width": 857,
        "color": 7
      },
      "id": "778f7ff5-bcda-4c74-b50c-8f1c2fd78626",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2784,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "id": "95d7efb0-7d79-45a6-9107-e87f9c76e511",
      "name": "Set all potential Inputs",
      "type": "n8n-nodes-base.set",
      "position": [
        1104,
        464
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "#### Add me to Unipile Webhook Dashboard\nEnsure that you have created a webhook in the Unipile dashboard that links to this node. [Link to Webhook Dashboard](https://dashboard.unipile.com/webhooks)",
        "height": 360,
        "color": 3
      },
      "id": "21ebc6ed-01ff-4b43-9caa-e743d1ba3b13",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -976,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "#### Add me to your Slack App Interactivity and Shortcuts\nTo receive button presses in this webhook, ensure that you've created a slack app and then set the webhook URL in the Interactivity & Shortcuts tab to this production URL. Use our App Manifest template to quickly deploy the app with the correct scopes. [Link to template with App Manifest](https://dashboard.unipile.com/webhooks)",
        "height": 420,
        "color": 3
      },
      "id": "9df52e7f-2a9c-4e5b-b163-f5e2bf95e943",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -976,
        1088
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "#### Update Credentials\nEnsure to use generic header auth. The name for the header is X-API-KEY. [Link to access token page on Unipile Site](https://dashboard.unipile.com/access-tokens)",
        "height": 320,
        "width": 180
      },
      "id": "687f0124-cffc-43da-853b-27e31598bda9",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "#### Update Credentials\nEnsure to use generic header auth. The name for the header is X-API-KEY. [Link to access token page on Unipile Site](https://dashboard.unipile.com/access-tokens)",
        "height": 320,
        "width": 180
      },
      "id": "f7ef6f06-e643-4152-8f06-8494d15d7f49",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "#### Update Credentials\nDoes not have to be notion, can be any database type node like Google sheets. ",
        "height": 280,
        "width": 220
      },
      "id": "ccc5c744-fae9-429c-8908-0dd53a11cac1",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1488,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "#### Update with your Unipile UserID\nEasiest way to do this is to send a message to someone so it triggers this workflow and then copy the senderID that shows in this node",
        "height": 340,
        "width": 220
      },
      "id": "31f11ed9-f66d-4f6c-b245-9e04e1b4fb25",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -544,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "#### Update Credentials",
        "height": 240,
        "width": 220
      },
      "id": "7d03866b-944b-4998-81ce-87e5533604dc",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2144,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "#### Update Credentials",
        "height": 560,
        "width": 220
      },
      "id": "7c391ba0-b150-48cf-8442-91d6ff6e7fd4",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3104,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "#### Update Credentials\nEnsure to use generic header auth. The name for the header is X-API-KEY. [Link to access token page on Unipile Site](https://dashboard.unipile.com/access-tokens)",
        "height": 340,
        "width": 220
      },
      "id": "d4c8be8c-3c42-47e0-b2cf-34d04f9345de",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "#### Update Credentials",
        "height": 460,
        "width": 220
      },
      "id": "85f48d68-1d65-48ac-b0f1-0a3cc2d6123b",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        1008
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Global Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Decide on Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Message": {
      "main": [
        [
          {
            "node": "Get Linkedin User Data from Unipile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook": {
      "main": [
        [
          {
            "node": "User Switcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "User Switcher": {
      "main": [
        [
          {
            "node": "Isolate Message and Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Isolate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Webhook": {
      "main": [
        [
          {
            "node": "Parse Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Isolate Payload": {
      "main": [
        [
          {
            "node": "Send webhook to Coworker Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if from me": {
      "main": [
        [
          {
            "node": "New Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response, No action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Variables": {
      "main": [
        [
          {
            "node": "Check if from me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if approved": {
      "main": [
        [
          {
            "node": "Send Message to LinkedIn via Unipile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Denied Message from Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Slack Button Press": {
      "main": [
        [
          {
            "node": "Verify Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide on Message Type": {
      "main": [
        [
          {
            "node": "Send User Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Org Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Nothing Found Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set all potential Inputs": {
      "main": [
        [
          {
            "node": "Isolate parent workflow data for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Group in one object - Org": {
      "main": [
        [
          {
            "node": "Set all potential Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group in one object - User": {
      "main": [
        [
          {
            "node": "Set all potential Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set User Data from Unipile": {
      "main": [
        [
          {
            "node": "Group in one object - User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Isolate Message and Payload": {
      "main": [
        [
          {
            "node": "Check if approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format DB data for AI Context": {
      "main": [
        [
          {
            "node": "Aggregate DB objects into one item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set unable to find data object": {
      "main": [
        [
          {
            "node": "Set all potential Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate DB objects into one item": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Linkedin Org Data from Unipile": {
      "main": [
        [
          {
            "node": "Set Linkedin Org Data from Unipile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set unable to find data object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Linkedin Org Data from Unipile": {
      "main": [
        [
          {
            "node": "Group in one object - Org",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Linkedin User Data from Unipile": {
      "main": [
        [
          {
            "node": "Set User Data from Unipile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Linkedin Org Data from Unipile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Isolate parent workflow data for AI": {
      "main": [
        [
          {
            "node": "Get Request Router Directory Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message to LinkedIn via Unipile": {
      "main": [
        [
          {
            "node": "Delete Approved Message from Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Request Router Directory Database": {
      "main": [
        [
          {
            "node": "Format DB data for AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4a4bba93-d931-40ff-81d6-79e5c7995d07",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-22T02:52:20.993Z",
      "updatedAt": "2025-08-22T02:52:20.993Z",
      "role": "workflow:owner",
      "workflowId": "IdiXvWMjCrQbTI0J",
      "projectId": "I3gAC3xI6nBnmwxf"
    }
  ],
  "tags": []
}