Backup_2025-09-08/Criador de contas Flexhome v2 - comissionamentos.json
{
  "createdAt": "2025-08-25T20:05:33.079Z",
  "updatedAt": "2025-09-03T17:34:16.089Z",
  "id": "JofgHJN7CWq9hfDd",
  "name": "Criador de contas Flexhome v2 - comissionamentos",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "fe69e5cb-bcef-4f0a-8534-21ae822f62b3",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "1DmOxQMDzsV7Bt7yy5OOoZum4Rw3XU_9PeWileR3e0M4",
        "range": "A:N",
        "options": {
          "valueRenderMode": "UNFORMATTED_VALUE"
        }
      },
      "id": "3b263a1b-089d-4899-9da8-0a9170a97101",
      "name": "Read Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        288,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pb4yzlmXfMN4YYQj",
          "name": "Google Sheets account Jefferson"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Configs\nconst DEFAULTS = {\n  country_id: 12,\n  state_id: 27,\n  city_id: 7000,\n  passwordHash: \"$2y$12$u2vpcP8OHySXh9/28130/ehLd3S2pG.cqJeUCdF6wR8thXb0g1Tsy\",\n  startAvatarId: 7000, // <-- ALTERE AQUI O ID DE PARTIDA\n};\n\nfunction normalizePhone(p){ if(p===undefined||p===null) return ''; return String(p).replace(/[^0-9+]/g,''); }\nfunction makeLink(label,url){ \n  if(!url) return label+':<br>'; \n  const s=String(url).trim(); \n  const d=s.replace(/^https?:\\/\\//,''); \n  return label+': <a href=\"'+s+'\" target=\"_blank\" rel=\"noopener\">'+d+'</a><br>'; \n}\n\n// now / today\nconst now = new Date();\nconst nowSQL = now.toISOString().slice(0,19).replace('T',' ');\nconst yyyy = now.getFullYear();\nconst mm = String(now.getMonth()+1).padStart(2,'0');\nconst dd = String(now.getDate()).padStart(2,'0');\nconst todayStr = `${yyyy}-${mm}-${dd}`;\n\nreturn items.map((item, idx) => {\n  const r = item.json;\n\n  // Campos padrão\n  const first_name = r['Nome'] || '';\n  const last_name  = r['Sobrenome'] || '';\n  const username   = r['Nome de Usuário'] || r['Nome de Usuario'] || '';\n  const company    = r['Nome da Empresa'] || '';\n  const email      = r['Email'] || '';\n  const phone      = normalizePhone(r['Telefone']);\n\n  // Links\n  const whatsapp   = r['Whatsapp (Link)'] || r['WhatsApp (Link)'] || r['Whatsapp'];\n  const site       = r['Site (Link)'] || r['Site'];\n  const drive      = r['Google Drive (Link)'] || r['Google Drive'];\n  const tour       = r['Tour Virtual (Link)'] || r['Tour Virtual'];\n  const corretor   = r['Corretor (Link)'] || r['Corretor'];\n  const imobili    = r['Imobiliária (Link)'] || r['Imobiliaria (Link)'] || r['Imobiliária'] || r['Imobiliaria'];\n  const parceria   = r['Parceria e Incorporadora (Link)'] || r['Parceria e Incorporadora'];\n\n  // --- Novos campos de Comissionamento (com variações de header e fallback) ---\n  const comissRem = r['Comissionamento Remanescente'] || r['Comissionamento Remanescentes'] || r['Remanescentes'] || \"Não informado.\";\n  const comissAut = r['Comissionamento Autônomo'] || r['Comissionamento Autonomo'] || r['Autônomo'] || r['Autonomo'] || \"Não informado.\";\n  const comissImo = r['Comissionamento Imobiliária'] || r['Comissionamento Imobiliaria'] || r['Imobiliária'] || r['Imobiliaria'] || \"Não informado.\";\n\n  // --- Responsável: se não houver, usar o nome da empresa; se houver e houver empresa, mostra \"Nome – Empresa\" ---\n  const respName  = r['Responsável'] || r['Responsavel'] || r['Responsável (Nome)'] || '';\n  let responsavelDisplay = \"Não informado.\";\n  if (respName && company) responsavelDisplay = `${respName} – ${company}`;\n  else if (respName) responsavelDisplay = respName;\n  else if (company) responsavelDisplay = company;\n\n  // Monta descrição HTML conforme o modelo solicitado\n  const description =\n    '<h1><strong>Stayou.click – Canal de Parcerias</strong></h1>' +\n    '<p class=\"p2\">Acesse diretamente nosso canal e fale com o representante de cada <span class=\"s1\"><strong>construtora e incorporadora</strong></span> .</p>' +\n    '<p class=\"p2\">As condições de <span class=\"s1\"><strong>comissionamento</strong></span> podem variar conforme a política interna e os produtos de cada parceiro.</p>' +\n    '<p class=\"p1\"><strong>Comissionamento disponível para PJ e PF</strong></p>' +\n    `<p>Remanescentes: ${comissRem}</p>` +\n    `<p>Autônomo: ${comissAut}</p>` +\n    `<p>Imobiliária: ${comissImo}</p>` +\n    `<p class=\"p2\">👤 Responsável: <span class=\"s1\"><strong>${responsavelDisplay}</strong></span><br>&nbsp;</p>` +\n    '<div class=\"raw-html-embed\">' +\n      '<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css\">' +\n      'Links de Parceria<br>' +\n      (whatsapp ? `<div class=\"link-box whatsapp\"><i class=\"fab fa-whatsapp\"></i> <a href=\"${whatsapp}\" target=\"_blank\" rel=\"noreferrer noopener\">WhatsApp – Fale conosco</a></div>` : '') +\n      (drive ? `<div class=\"link-box drive\"><i class=\"fab fa-google-drive\"></i> <a href=\"${drive}\" target=\"_blank\" rel=\"noreferrer noopener\">Google Drive – Materiais</a></div>` : '') +\n      makeLink('Site',site) +\n      makeLink('Tour Virtual',tour) +\n      makeLink('Corretor',corretor) +\n      makeLink('Imobiliária',imobili) +\n      makeLink('Parceria e Incorporadora',parceria) +\n    '</div>' +\n    '<p><br>&nbsp;</p>';\n\n  // avatar_id: usa o da planilha se houver; senão, sequência a partir do startAvatarId\n  const avatar_id = r['avatar_id'] ? Number(r['avatar_id']) : (DEFAULTS.startAvatarId + idx);\n\n  return { json: {\n    first_name,\n    last_name,\n    username,\n    company,\n    email,\n    phone,\n    dob: todayStr,           // sempre hoje\n    description,\n    password: DEFAULTS.passwordHash,\n    country_id: DEFAULTS.country_id,\n    state_id: 27,\n    city_id: 7000,\n    now: nowSQL,\n    avatar_id,\n  }};\n});"
      },
      "id": "735dd148-e6ee-4eb9-9965-7371bee12f42",
      "name": "Map to Account",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        592,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nINSERT INTO `re_accounts`\n(`first_name`,`last_name`,`description`,`email`,`username`,`password`,\n `dob`,`phone`,`credits`,`confirmed_at`,`created_at`,`updated_at`,\n `is_featured`,`is_public_profile`,`company`,`country_id`,`state_id`,`city_id`,`approved_at`,`avatar_id`)\nVALUES\n(\n  '{{$json.first_name}}',\n  '{{$json.last_name}}',\n  '{{$json.description}}',\n  '{{$json.email}}',\n  '{{$json.username}}',\n  '{{$json.password}}',\n  '{{$json.dob}}',\n  '{{$json.phone}}',\n  0,\n  '{{$json.now}}',\n  '{{$json.now}}',\n  '{{$json.now}}',\n  0,\n  1,\n  '{{$json.company}}',\n  {{$json.country_id}},\n  {{$json.state_id}},\n  {{$json.city_id}},\n  '{{$json.now}}',\n  {{$json.avatar_id}}\n)\nON DUPLICATE KEY UPDATE\n  `first_name`=VALUES(`first_name`),\n  `last_name`=VALUES(`last_name`),\n  `description`=VALUES(`description`),\n  `username`=VALUES(`username`),\n  `phone`=VALUES(`phone`),\n  `company`=VALUES(`company`),\n  `country_id`=VALUES(`country_id`),\n  `state_id`=VALUES(`state_id`),\n  `city_id`=VALUES(`city_id`),\n  `updated_at`=VALUES(`updated_at`);\n"
      },
      "id": "87b9c32d-cbf8-4510-9b79-fe540597ba2a",
      "name": "Upsert in MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "credentials": {
        "mySql": {
          "id": "JrG6Dcauvo7Uz7nE",
          "name": "MySQL account Stayou"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Sheet": {
      "main": [
        [
          {
            "node": "Map to Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to Account": {
      "main": [
        [
          {
            "node": "Upsert in MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "824f6d9a-2b5b-4a7e-9560-ab85c1f04eef",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-25T20:05:33.079Z",
      "updatedAt": "2025-08-25T20:05:33.079Z",
      "role": "workflow:owner",
      "workflowId": "JofgHJN7CWq9hfDd",
      "projectId": "I3gAC3xI6nBnmwxf"
    }
  ],
  "tags": []
}